<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="employee" class="com.test.Employee">
	
		<constructor-arg index="2" ref="department" />
		
		<constructor-arg index="0"  value="E203" />
		
		<constructor-arg index="1" value="William" />
		
		
	</bean>
	
	<bean id="department" class="com.test.Department">
	
		<property name="departmentId" value="D-344" />
		
		<property name="departmentName" value="IT Department" />
		
	</bean>

</beans>