<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="department" class="com.test.Department">
    	<property name="deptName" value="Help Desk"/>
    	<property name="deptId" value="HD-122"/>
    </bean>
    
    <bean id="department1" class="com.test.Department">
    	<property name="deptName" value="Finance"/>
    	<property name="deptId" value="FS-233"/>
    </bean>
    
    <bean id="employee" class="com.test.Employee" autowire="constructor">
    	<property name="empId" value="E-999"/>
    	<property name="empName" value="Rick"/>    	
    </bean>

</beans>